@import "var";

body {
	padding: 0;
	font: 16px/1.8 $sansSerif, sans-serif;
}

.main {
	margin-top: 60px !important;
}

.header {
	background: #ededed;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	.logo {
		font-family: $logoFont;
		* {
			color: $themeColor;
		}
	}
}

.page-header {
	text-align: center;
}