$themeColor: #f80015;
$ロゴ: #e8322b;
$端っこ: #e95464;
$端っこ2: #ff3e54;
$sansSerif: "Noto Sans JP", sans-serif;
$logoFont: "Oxanium", "Noto Sans JP", sans-serif;

$pi: 3.14159265359; // 円周率
$iter: 10;

@function pow($base, $exp){
	$value: $base;
	@if $exp >= 1 {
		@for $i from 1 through $exp {
			$value: $value * $base;
		}
	} @else if $exp <= -1 {
		@for $i from 1 through -$exp {
			$value: $value / $base;
		}
	} @else {
		$value: 1;
	}
	@return $value;
}

@function fact($val){
	$value: 1;
	@if $val > 0{
		@for $i from 1 through $val{
			$value: $value * $i;
		}
	} @else {
		$value: 1;
	}
	@return $value;
}

@function cos($angle, $degrees: false){
	$cos: 0;
	@if $degrees{
		$angle: $angle / 180 * $pi;
	}
	@for $n from 0 through $iter - 1 {
		$cos: $cos + (pow(-1, $n) / fact(2*$n)) * pow($angle, 2*$n);
	}
	@return $cos;
}