{{- define "main" }}

<div id="topView">
	<div id="title">
		<span>Y</span><span>S</span><span>F</span> <br><span>L</span><span>i</span><span>g</span><span>h</span><span>t</span> <span>S</span><span>i</span><span>d</span><span>e</span> <span>R</span><span>o</span><span>b</span><span>o</span><span>t</span><span>i</span><span>c</span><span>s</span>
	</div>
</div>
<section id="about" class="gridSect">
	<header class="page-header">
		<h1>ABOUT</h1>
		<div class="post-description">
			LSRって何?
		</div>
	</header>
	<div class="page-main">
		<img src="image/prize.jpg" alt="FIRST LEGO LEAGEのトロフィー">
		<div class="text">
			<p>私たちLSRは、横浜市立横浜サイエンスフロンティア高等学校・附属中学校 ロボット探究部所属のチームです。</p>
			<a href="about/" class="blockLink">もっと知る</a>
		</div>
	</div>
</section>
<section>
	<header class="page-header">
		<h1>BLOG</h1>
		<div class="post-description">
			ブログ
		</div>
	</header>
	{{ range first 5 .Site.RegularPages.ByDate.Reverse }}
		<article class="post-entry">
			{{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
			{{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
			<header class="entry-header">
				<h2>
					{{- .Title }}
					{{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
				</h2>
			</header>
			{{- if (ne (.Param "hideSummary") true) }}
				<div class="entry-content">
					<p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
				</div>
			{{- end }}
			{{- if not (.Param "hideMeta") }}
				<footer class="entry-footer">
					{{- partial "post_meta.html" . -}}
				</footer>
			{{- end }}
			<a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
		</article>
	{{ end }}
	<div class="blockLink"><a href="posts/">もっと読む</a></div>
</section>
<section>
	<header class="page-header">
		<h1>SNS</h1>
		<div class="post-description">
			TwitterとFacebook
		</div>
	</header>
	<div id="sns">
		<a class="twitter-timeline" data-lang="ja" data-height="600" data-theme="light" href="https://twitter.com/YSFJH_LSRJ?ref_src=twsrc%5Etfw">Tweets by YSFJH_LSRJ</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- <div class="fb-page" data-href="https://www.facebook.com/Light-Side-Robotics-115384181145744/" data-tabs="timeline" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Light-Side-Robotics-115384181145744/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Light-Side-Robotics-115384181145744/">Light Side Robotics</a></blockquote></div> -->
		<iframe id="fb-timeline" data-first="true" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLight-Side-Robotics-115384181145744%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
		<script>
			window.addEventListener("resize", () => {
				const divWidth = document.getElementById("sns").clientWidth;
				const width = window.matchMedia("(max-width: 550px)").matches ? divWidth : Math.ceil((divWidth - 40) / 2);
				const elem = document.getElementById("fb-timeline");
				if (width <= 500 || elem.hasAttribute("data-first")) {
					elem.setAttribute("src", "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLight-Side-Robotics-115384181145744%2F&tabs=timeline&width=" + width + "&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId");
					elem.setAttribute("width", width);
					elem.removeAttribute("data-first");
				}
			});
			window.dispatchEvent(new Event("resize"));
		</script>
	</div>
</section>

{{- end }}